// app global css in SCSS form
.grecaptcha-badge {
    opacity: 0 !important;
    pointer-events: none !important;
}

.paypal-qr-code {
    text-align: center;

    img {
        width: 120px;
        margin-top: 1rem;
    }
}

.faan-events img {
    max-width: 50vw;
}
